@import url("https://fonts.googleapis.com/css2?family=Tiempos+Text:wght@400;700&display=swap");

body {
    margin: 0;
    padding: 0;
    height: 300vh;
    background: black;
/*     background: linear-gradient(45deg, #000000, #ffffff); */
    background-size: 100% 100%;
}


.circle-container {
    --blursize: 100px;
    position: fixed;
    top: 50vh;
    left: 0;
    right: 0;
    transform: translateY(-100px);
    display: flex;
    justify-content: center;
    z-index: 0;
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    mix-blend-mode: screen;
    transform: transalte3d(0,0,0);
    transition: all 0.2s ease-out;
}

.circle-red {
    background-color: rgba(255, 0, 0, 1);
    filter: drop-shadow(0px 0px var(--blursize) #ff0000);
}

.circle-green {
    background-color: rgba(0, 255, 0, 1);
    filter: drop-shadow(0px 0px var(--blursize) #00ff00);
}

.circle-blue {
    background-color: rgba(0, 0, 255, 1);
    filter: drop-shadow(0px 0px var(--blursize) #0000ff);
}

.name {
    position: fixed;
    top: 100px;
    left: 0;
    right: 0;
    transform: translateY(-18px);
    color: black;
    font-family: "Tiempos Text", garamond, serif;
    font-size: 36px;
    font-weight: 500;
    text-align: center;
    z-index: 3;
    transition: transform 0.2s ease-out;
}
