@import url("https://fonts.googleapis.com/css2?family=Tiempos+Text:wght@400;700&display=swap");

body {
    margin: 0;
    padding: 0;
    /* height: 300vh; */
    background: white;
/*     background: linear-gradient(45deg, #000000, #ffffff); */
    background-size: 100% 100%;
    font-family: "Tiempos Text", garamond, serif;
}

.circle-container {
    --blursize: 100px;
    position: fixed;
    top: 50vh;
    left: 0;
    right: 0;
    transform: translateY(-100px);
    display: flex;
    justify-content: center;
    z-index: 0;
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    mix-blend-mode: screen;
    transform: transalte3d(0,0,0);
    transition: all 0.2s ease-out;
}

.circle-red {
    background-color: rgba(255, 0, 0, 1);
    filter: drop-shadow(0px 0px var(--blursize) #ff0000);
}

.circle-green {
    background-color: rgba(0, 255, 0, 1);
    filter: drop-shadow(0px 0px var(--blursize) #00ff00);
}

.circle-blue {
    background-color: rgba(0, 0, 255, 1);
    filter: drop-shadow(0px 0px var(--blursize) #0000ff);
}

.name {
    position: fixed;
    top: 100px;
    left: 0;
    right: 0;
    transform: translateY(-18px);
    color: black;
    font-family: "Tiempos Text", garamond, serif;
    font-size: 36px;
    font-weight: 500;
    text-align: center;
    z-index: 3;
    transition: transform 0.2s ease-out;
}

.card {
    background-color: #fff;
    position: relative;
    z-index: 100;
}

.hero {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    background: black;
}

.sixty-forty {
    /* padding: 80px 40px; */
    background-color: #fff;
    display: flex;
    align-items: center;
    margin-top: 0;
}

.SIXTY-forty {
    flex: 1 1 60%;
    color: #333;
    margin: 5% 2.5% 5% 15%;
}

.sixty-FORTY {
    flex: 1 1 40%;
    color: #333;
    margin: 5% 15% 5% 2.5%;
}

.fifty-fifty {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 15%;
}

.FIFTY-fifty,
.fifty-FIFTY {
    flex: 0 0 calc(50% - 10%);
    color: #333;
    margin: 0 5% 5%;
}

.single-col {
    margin: 5% 15% 5% 15%;
}

h2 {
    margin-top: 0;
    font-size: 28px;
    font-weight: bold;
    color: #000;
}

p {
    font-size: 18px;
    line-height: 1.6;
}

.sixty-FORTY img {
    width: 400px;
    height: 400px;
}

.menu {
    position: fixed;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    mix-blend-mode: difference;
    color: #fff;
    background: black;
    z-index: 999;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu li {
    display: block;
    margin-right: 0;
    margin-bottom: 10px;
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s;
}

.menu a.active {
    font-weight: bold;
}

.menu a:hover {
    color: #ff0;
}

.social-icons {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    z-index: 999;
    mix-blend-mode: difference;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-icons a {
    display: block;
    margin-bottom: 10px;
    color: #fff;
    font-size: 24px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #ff0;
}

.name {
    /* Existing styles */
    transition: transform 0.2s ease-out, font-weight 0.3s;
}

.name.bold {
    font-weight: bold;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 40px 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.contact-info,
.fun-links {
    flex: 0 0 45%;
}

.contact-info h3,
.fun-links h3 {
    font-size: 20px;
    margin-bottom: 15px;
}

.contact-info p {
    margin-bottom: 10px;
}

.fun-links ul {
    list-style: none;
    padding: 0;
}

.fun-links ul li {
    margin-bottom: 10px;
}

.fun-links ul li a {
    color: #fff;
    text-decoration: none;
}

.fun-links ul li a:hover {
    text-decoration: underline;
}